@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    /* MODO CLARO (Por defecto) */
    #dropdown-menu input,
    #dropdown-menu select,
    #dropdown-menu textarea {
        color: #111827;
        background-color: #ffffff;
        border-color: #d1d5db;
    }

    /* MODO OSCURO (Cuando la clase .dark está en el html) */
    html.dark #dropdown-menu input,
    html.dark #dropdown-menu select,
    html.dark #dropdown-menu textarea {
        color: #ffffff;
        background-color: #1f2937;
        border-color: #374151;
    }
}
